{{#if user}}
{{#if valid_msg}}
    <div class="alert alert-danger">{{valid_msg}}</div>
{{/if}}

<style>
#sales-chart {
    max-height: 500px;
    margin: 10px;
}

.morris-hover.morris-default-style {
    transform: scale(1.25);
}

#salesDateForm .inp-label {
    font-size: 18px;
    font-weight: bold;
}


#salesDateForm .inp-select {
    font-size: 16px;
    width: 138px;
    height: 46px;
    padding: 1px;
    text-align: center;
}

#salesDateForm .h-label {
    font-size: 24px;
}

</style>
<div class="row">
    <div class="col-lg-12" id="salesDateForm">
        <p><big>Providing a Monthly / Yearly based report.</big></p>
        <hr/>
        <form class="" method="GET" action="/api/reports/sales/summary/generate">
            <fieldset>
            <div class="form-group row">
                <div class="col-sm-12">
                    <div class="pull-left">
                    <label class="inp-label">Month(s)</label>
                    <select id="sel-start-month" class="form-control inp-select" name="startMonth" required>
                        <optgroup label="Yearly">
                        <option value="12m">12 months</option>
                        </optgroup>
                        <optgroup label="Monthly">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                        </optgroup>
                    </select>
                    </div>
                    <div class="pull-left" style="margin-left: 10px;">
                        <label class="inp-label">Year</label><br>                        
                        <input type="text" name="year" id="inp-year" class="form-control" style="width: 100px; height: 46px; font-size: 16px;">
                    </div>
                    <div class="pull-left" style="margin-left: 20px;">
                        <button type="submit" class="btn btn-purple btn-lg" style="margin-top: 30px;">Generate</button>
                    </div>
                </div>
            </div>
        </fieldset>
        </form>
    </div>
</div>
<script>var salesList = [];</script>
{{#eq showSalesReport true}}
<div class="row" style="margin-top: 25px">
<div class="col-lg-12">
    {{#if salesList}}
    <script>
        var list;
    </script>
    {{#each salesList}}
    <script>
        var month = '{{this.month}}';
        var revenue = Number('{{toFixed this.sumRevenue 2}}');
        salesList.push({
            month: month,
            revenue: revenue
        });
        console.log("len: " + salesList.length);
    </script>
    {{/each}}
    <!-- BARCHART VIEW -->
    <div class="panel panel-default" id="sales-chart-holder" style="cursor: pointer;">
        <div class="panel-heading">
            <strong><big>Revenue chart</big></strong>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body" id="sales-chart-toggle" style="display: none; cursor: auto;">
            <div id="sales-chart"></div>
        </div>
        <div id="legend" class="bar-legend"></div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->

    <!-- TABLE VIEW -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><big>Sales overview</big></strong>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="clients">
                    <thead>
                        <tr>
                            <th>Month</th>
                            <th>Small bags</th>
                            <th>Medium bags</th>
                            <th>Large bags</th>
                            <th>Net profit</th>
                            <th>Expenses</th>
                            <th>Revenue</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each salesList}}
                        <tr style="font-weight: bold;">
                            <td style="font-size:16px;">{{this.month}}</td>
                            <td style="font-size:16px;">{{this.sumSmall}}</td>
                            <td style="font-size:16px;">{{this.sumMed}}</td>
                            <td style="font-size:16px;">{{this.sumLarge}}</td>
                            <td style="font-size:16px;">&pound; {{toFixed this.sumProfit 2}}</td>
                            <td style="font-size:16px;">&pound; {{toFixed this.sumExpense 2}}</td>
                            <td style="font-size:16px;">&pound; {{toFixed this.sumRevenue 2}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
    {{else}}
    <!-- TABLE VIEW -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><big>Sales overview</big></strong>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="clients">
                    <thead>
                        <tr>
                            <th>Month</th>
                            <th>Small bags</th>
                            <th>Medium bags</th>
                            <th>Large bags</th>
                            <th>Net profit</th>
                            <th>Expenses</th>
                            <th>Revenue</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#isnt sales null}}
                        <tr style="font-weight: bold;">
                            <td style="font-size:16px;">{{sales.month}}</td>
                            <td style="font-size:16px;">{{sales.sumSmall}}</td>
                            <td style="font-size:16px;">{{sales.sumMed}}</td>
                            <td style="font-size:16px;">{{sales.sumLarge}}</td>
                            <td style="font-size:16px;">&pound; {{toFixed sales.sumProfit 2}}</td>
                            <td style="font-size:16px;">&pound; {{toFixed sales.sumExpense 2}}</td>
                            <td style="font-size:16px;">&pound; {{toFixed sales.sumRevenue 2}}</td>
                        </tr>
                        {{/isnt}}
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
    {{/if}}
</div>
<!-- /.col-lg-12 -->
</div>
{{/eq}}
<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script src="http://code.jquery.com/jquery-3.3.1.min.js" 
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" 
crossorigin="anonymous"></script>
<!-- Morris Charts JavaScript -->
<script src="/js/raphael.min.js"></script>
<script src="/js/morris.min.js"></script>
<script>
    $(document).ready(function() {
        
        $("#inp-year").val('{{year}}');

        $('#clients').DataTable({
            responsive: true,
            paging: false,
            searching: false,
            ordering: false,
            dom: ''
        });

        if (salesList.length > 0) {
            console.log(salesList);
            var data = [];
            var count = salesList.length;
            salesList.forEach(sale => {
                //console.log(sale);
                data.push({
                    date: sale.month, 
                    revenue: sale.revenue
                });
                count--;
                if (count == 0) {
                    var salesChart = null;
                    $("#sales-chart-holder").click(function() {
                        var done = false;
                        if (!done) {
                            $("#sales-chart-toggle").slideToggle();
                            done = true;
                        }
                        if (done) {
                            // bar-chart view
                            if (salesChart == null) {
                                data.forEach(d => {
                                    console.log("FINAL: " + d.date);
                                });
                                salesChart = Morris.Bar({
                                    element: 'sales-chart',
                                    data: data,
                                    xkey: 'date',
                                    ykeys: ['revenue'],
                                    labels: ['Revenue'],
                                    barColors: function (row, series, type) {
                                        if (type === 'bar') {
                                            var red = Math.ceil(211 * row.y / this.ymax);
                                            var green = Math.ceil(84 * row.y / this.ymax);
                                            var blue = Math.ceil(144 * row.y / this.ymax);
                                            return 'rgb(' + red + ',' + green + ',' + blue + ')';
                                        }
                                        else {
                                            return '#000';
                                        }
                                    },
                                    hideHover: 'auto',
                                    resize: true
                                });
                            }
                        }
                    });
                }
            });
            
        }
    });
</script>
{{/if}}