<style type="text/css">
    input[type=checkbox] {
        transform: scale(2);
    }

    .address-d {
        margin-left: 1%;
        margin-top: 7px;
        font-size: 18px;
        color: #444;
    }

    .delivery-heading {
        padding-bottom: 10px;
        font-size: 16px;
        font-weight: bolder;
        text-decoration: none;
        color: #666;
    }

    .moment-heading {
        padding-bottom: 10px;
        font-size: 16px;
        font-weight: bolder;
        text-decoration: none;
        color: #999;
    }
</style>
<div class="row">
<p class="delivery-heading pull-left">
    {{delivery_title}}
</p>
<p class="moment-heading pull-right">
    {{moment}}
</p>
</div>
<div class="row">
    <!-- START OF DRIVER PANEL -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
        {{#if pending_deliveries}}
        {{#isEmpty pending_deliveries}}
        <em>No pending deliveries</em>
        {{else}}
        {{#each pending_deliveries}}
        <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading{{this.id}}">
            <h2 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse{{this.id}}" aria-expanded="false" aria-controls="collapse{{this.id}}">
                <!-- Address info -->
                <p class="tiles-label address-d">{{this.address}}</p>
                <!-- /Address info -->
            </h2>
        </div>
        <div id="collapse{{this.id}}" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="heading{{this.id}}">
            <div class="panel-body">
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="clients">
                    <thead>
                        <tr>
                            <!-- Client info -->
                            <th>Customer name</th>
                            <!-- /Client info -->

                            <!-- Order - bag -->
                            <th>Qty</th>
                            <th>Type</th>
                            <!-- /Order - bag -->

                            <!-- Order - status -->
                            <th>Delivered?</th>
                            <!-- /Order - status -->
                        </tr>
                    </thead>
                    <tbody>
                        {{#each this.orders}}
                        <tr>
                            <td style="font-size:14px;">{{this.client.name}}</td>
                            <td style="font-size:14px;">{{this.numberOfBags}}</td>
                            <td style="font-size:14px;">{{this.typeOfBag}}</td>
                            <td style="text-align: center;">
                                <div class="checkbox">
                                    <label>
                                    <input type="checkbox" name="status" value="">
                                    </label>
                                </div>
                            </td>
                        </tr>
                        {{/each}}           
                    </tbody>
                </table>
                
                </div>
                <!-- /.table-responsive -->
                <!-- table footer -->
            </div>
            <div class="panel-footer" style="padding-left: 20px; padding-right: 25px">
            <h4><b>All delivered?  </b>                               
                <button class="btn btn-purple pull-right">Submit</button>
            </h4>
            </div>
            <!-- /.table footer -->
        </div>
        </div>
        {{/each}}
        {{/isEmpty}}
        {{else}}
        {{#isEmpty completed_deliveries}}
        <em>No completed deliveries</em>
        {{else}}
        {{#each completed_deliveries}}
        <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading{{this.id}}">
            <h2 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse{{this.id}}" aria-expanded="false" aria-controls="collapse{{this.id}}">
                <!-- Address info -->
                <p class="tiles-label address-d">{{this.address}}</p>
                <!-- /Address info -->
            </h2>
        </div>
        <div id="collapse{{this.id}}" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="heading{{this.id}}">
            <div class="panel-body">
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="clients">
                    <thead>
                        <tr>
                            <!-- Client info -->
                            <th>Customer name</th>
                            <!-- /Client info -->

                            <!-- Order - bag -->
                            <th>Qty</th>
                            <th>Type</th>
                            <!-- /Order - bag -->

                            <!-- Order - status -->
                            <th>Status</th>
                            <!-- /Order - status -->
                        </tr>
                    </thead>
                    <tbody>
                        {{#each this.orders}}
                        <tr>
                            <td style="font-size:14px;">{{this.client.name}}</td>
                            <td style="font-size:14px;">{{this.numberOfBags}}</td>
                            <td style="font-size:14px;">{{this.typeOfBag}}</td>
                            <td style="font-size:14px;">{{this.status}}</td>
                        </tr>
                        {{/each}}           
                    </tbody>
                </table>
                </div>
                <!-- /.table-responsive -->
                <!-- table footer -->
            </div>
        </div>
        </div>
        {{/each}}
        {{/isEmpty}}
        {{/if}}
    </div>
    <!-- END OF DRIVER PANEL -->           
</div><!--.row-->   